@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eff0f7;
}

main {
    padding: 1rem;
}

p {
    margin: 0px;
}

#result {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.respostas {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem;
}

.respostas small {
    font-size: 1rem;
}

form {
    margin-bottom: 5rem;
}

.respostas .title {
    font-size: 1.05rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.respostas .title::before {
    content: "questão : ";
    letter-spacing: 0.5px;
    font-weight: normal;
    font-size: 1.05rem;
    text-transform: capitalize;
}

.correct>span>div {
    margin-top: 0.5rem;
}

.correct>span>div>p {
    font-size: 1.05rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.correct>span>div>p::before {
    content: "resposta : ";
    letter-spacing: 0.5px;
    font-weight: normal;
    font-size: 1.05rem;
    text-transform: capitalize;
}

/* .correct>span>div>p::after {} */

.correct div>span {
    font-size: 1rem;
}

.correct>span>span {
    font-size: 1.2rem;
}

.correct .badge {
    padding: 0.25px;
    height: 20px;
    width: 20px;
    align-items: center;
    margin: auto;
    /* display: flex; */
    justify-content: center;
    display: inline-flex;
    font-size: 1rem;
}

.respostas>div {
    border-bottom: 2px solid rgba(0, 0, 0, 0.034);
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}